.user {
  height: 30px;
}

.user .username {
  display: inline-block;
  width: 150px;
}

.user .amount {
  display: inline-block;
  width: 150px;
}

.user form {
  display: inline-block;
}

.user .btn-submit {
  margin-left: 10px;
}

